name: Build Docs

on:
  workflow_call:

jobs:
  build-docs:
    name: Build Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout Repository
        uses: actions/checkout@b4ffde65f4633668828d0b93fc2f58342292f163 # v4.1.1
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@0a5c671dd719f949c8f657a840003027b4e9f783 # v5.0.0
        with:
          python-version: "3.11"

      - name: Install uv
        uses: astral-sh/setup-uv@1786522c0746658097d812224d06a92911b32d0c # v5.1.0
        with:
          enable-cache: true
          cache-suffix: docs

      - name: Install Dependencies
        run: |
          uv pip install --system -r requirements.txt
          # Install SDK in editable mode so mkdocstrings can find it
          uv pip install --system -e sdk/

      - name: Build MkDocs
        run: mkdocs build --config-file docs/mkdocs.yml --strict

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
        with:
          path: site/
