name: Rust Quality

on:
  workflow_call:

permissions:
  contents: read

jobs:
  quality-rust:
    name: Rust Quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          persist-credentials: false

      - name: Install Rust Toolchain
        uses: dtolnay/rust-toolchain@631a55b12751854ce901bb631d5902ceb48146f7 # stable
        with:
          components: rustfmt, clippy

      - name: Rust Cache
        uses: Swatinem/rust-cache@400e7407cfd7a091e5fbb6afec01ec146c432b7c # v2.7.3
        with:
          workspaces: lilith-zero -> target

      - name: Format Check (Strict)
        run: cargo fmt --all -- --check
        working-directory: lilith-zero

      - name: Clippy (Strict)
        # Deny all warnings to ensure zero-tolerance policy
        run: cargo clippy --all-targets --all-features -- -D warnings
        working-directory: lilith-zero

      - name: Dependency Scan (Deny)
        uses: EmbarkStudios/cargo-deny-action@98d3f2050a7b742ed72f1d1910caebb38a92e65e # v1.6.3
        with:
          command: check
          arguments: --all-features
          manifest-path: lilith-zero/Cargo.toml
