name: Main CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions: {}



jobs:
  quality-rust:
    uses: ./.github/workflows/_quality_rust.yml

  quality-python:
    uses: ./.github/workflows/_quality_python.yml

  docs-check:
    uses: ./.github/workflows/_docs_build.yml

  test-matrix:
    needs: [quality-rust, quality-python]
    uses: ./.github/workflows/_test.yml
    with:
      cargo_profile: release

  build-dry-run:
    needs: [test-matrix]
    uses: ./.github/workflows/_build.yml
    with:
      retention-days: 1
