name: Release Pipeline

on:
  push:
    tags: ["v*"]
  workflow_dispatch:



jobs:
  quality-rust:
    uses: ./.github/workflows/_quality_rust.yml

  quality-python:
    uses: ./.github/workflows/_quality_python.yml

  test-matrix:
    needs: [quality-rust, quality-python]
    uses: ./.github/workflows/_test.yml
    with:
      cargo_profile: release

  build-release:
    needs: [test-matrix]
    uses: ./.github/workflows/_build.yml
    with:
      retention-days: 30

  publish:
    name: Create GitHub Release
    needs: [build-release]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true
      - uses: softprops/action-gh-release@v1
        with:
          files: dist/*
          generate_release_notes: true
          fail_on_unmatched_files: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy-docs:
    needs: [test-matrix]
    uses: ./.github/workflows/_docs.yml
    with:
      deploy: true

  publish-pypi:
    needs: [test-matrix]
    uses: ./.github/workflows/_publish_pypi.yml
